<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>Label</key>
        <string>dev.zoid.calibre-backup</string>

        <key>ProgramArguments</key>
        <array>
                <string>/usr/local/bin/aws</string>
                <string>s3</string>
                <string>sync</string>
                <string>/Users/divyendusingh/Calibre Library</string>
                <string>s3://divyendusingh/CalibreLibrary</string>
        </array>

        <key>OnDemand</key>
        <false/>

        <key>Nice</key>
        <integer>1</integer>

        <key>StartInterval</key>
        <integer>3600</integer>

        <key>StandardErrorPath</key>
        <string>/tmp/dev.zoid.calibre-backup.err</string>

        <key>StandardOutPath</key>
        <string>/tmp/dev.zoid.calibre-backup.out</string>
</dict>
</plist>
